{% macro render_field(field) %}
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">{{ field.label }}</span>
  <input type="text" class="form-control" value="{{ field.default }}">
  {% if field.errors %}
    <ul class="errors">
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
</div>
{% endmacro %}

{% macro render_tmform(tmform) %}
<form method="post" action="/tm">
    <dl>
        {{ render_field(tmform.description) }}
	    {{ render_field(tmform.states) }}
	    {{ render_field(tmform.terminating_states) }}
        {{ render_field(tmform.start_state) }}
	    {{ render_field(tmform.trans_funcs) }}
	    {{ render_field(tmform.blank_symbol) }}
	    {{ render_field(tmform.tape_symbols) }}
	    <!--input_letters-->
	    {{  render_field(tmform.tape) }}
    </dl>
    <p><button class="btn btn-default" type="submit">Rebuild TM</button></p>
</form>
{% endmacro %}