<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/tm.css">
    <link rel="stylesheet" href="/static/bootstrap.css">
    <title>Turing Machine</title>
</head>
<body class="container">

<div class=flashes>
    {% with messages = get_flashed_messages(with_categories=True) %}
          {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'Error' %}
                    <div class="alert alert-warning">
                        <strong>Error </strong>{{ message }}
                    </div>
                    {% elif category == 'Success' %}
                    <div class="alert-success">
                        <strong>Success </strong>{{ message }}
                    </div>
                    {% else %}
                    <div class="alert alert-info">
                        <strong>{{ category }} </strong>{{ message }}
                    </div>
                    {% endif %}
                {% endfor %}
          {% endif %}
    {% endwith %}
</div>
{% block content %}
{% endblock %}
</body>
</html>